<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Fit Club</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <main class="homepageContainer">
      <% if(!locals.currentUser) {%>
      <div class="sign-up-in">
        <a href="/sign-up">Create new account</a>
        <p>Already have an account?</p>
        <a href="/log-in">Log in</a>
      </div>
      <%}else{ %>
      <div class="welcome">
        <h2>
          Welcome User
          <span
            ><%= currentUser.first_name %> <%= currentUser.last_name %></span
          >
        </h2>
        <a href="/new-message">Create new message</a>
      </div>
      <% } %>
      <div class="msgContainer">
        <% messages.forEach((msg) => {%> <% const date =
        msg.timestamp.toString().slice(4,15); const time =
        msg.timestamp.toString().slice(16,21); const zoneStart =
        msg.timestamp.toString().split('').indexOf('('); const zone =
        msg.timestamp.toString().slice(zoneStart); %>
        <div class="messages">
          <% if(currentUser?.membership_status || currentUser?.admin){ %>
          <p class="author">
            <img src="icons/profile.png" alt="user-picture" />
            <span> <%= msg.first_name %> <%= msg.last_name %> </span>
          </p>
          <p class="timestamp"><%= date %> - <%= time %> <%= zone %></p>
          <% }else{%>
          <p class="author">👤Anonymous member</p>
          <p class="timestamp">⏳Time hidden</p>
          <% } %>
          <p class="title"><%= msg.title%></p>
          <p class="message"><%= msg.text %></p>
          <% if(currentUser?.admin){ %>
          <form action="/deleteMsg" method="post" id="deleteMsgForm">
            <input type="hidden" name="msgId" value="<%= msg.id %>" />
            <button type="submit">
              <img src="icons/trash-icon.png" alt="delete-icon" />
            </button>
          </form>
          <% } %>
        </div>
        <% }); %>
      </div>
      <div class="membership-link">
        <% if(!currentUser){ %>
        <p>Want to see the author and time?</p>
        <a
          href="/membership"
          style="pointer-events: none; cursor: default; color: gray"
          >Join the club now!</a
        >
        <% } else if(!currentUser?.membership_status){ %>
        <p>Want to see the author and time?</p>
        <a href="/membership">Join the club now!</a>
        <% } else{ %>
        <p>Want to see the author and time?</p>
        <a href="/membership">Membership Status</a>
        <% } %>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
